<div class="fixed top-0 left-0 right-0 bg-white shadow-sm border-b border-gray-200 z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">

            <!-- Logo Section -->
            <div class="flex-shrink-0 flex items-center">
                <a routerLink="/" class="flex items-center space-x-2">
                    <img src="assets/images/splitit-logo-navbar.png" alt="SplitIt Logo" class="h-10 w-auto" />
                </a>
            </div>

            <!-- Auth Links -->
            <div class="flex items-center space-x-6 text-sm sm:text-base text-gray-700">
                <button *ngIf="authService.isAuthenticated()" routerLink="/"
                    class="underline hover:text-white hover:bg-gray-600 transition duration-150 rounded-xl px-2 py-1">
                    Home
                </button>
                <span *ngIf="authService.isAuthenticated() && _userDetails"
                    class="underline hover:text-white hover:bg-gray-600 transition duration-150 cursor-pointer rounded-xl px-2 py-1">
                    {{ _userDetails.name }}
                </span>
                <button *ngIf="authService.isAuthenticated()" (click)="onLogout()"
                    class="underline hover:text-white hover:bg-gray-600 transition duration-150 rounded-xl px-2 py-1">
                    Logout
                </button>
                <button routerLink="/login" *ngIf="!authService.isAuthenticated()"
                    class="underline hover:text-white hover:bg-gray-600 transition duration-150 rounded-xl px-2 py-1">
                    Login
                </button>
                <button routerLink="/register" *ngIf="!authService.isAuthenticated()"
                    class="underline hover:text-white hover:bg-gray-600 transition duration-150 rounded-xl px-2 py-1">
                    Register
                </button>
            </div>

        </div>
    </div>
</div>