<div class="bg-gray-100 min-h-screen flex flex-col items-center">
  <div *ngIf="groups.length > 0" class="bg-white p-4 m-7 rounded shadow-md text-center minWidth">
    <h2 class="text-2xl font-semibold mb-4">Groups</h2>
    <ul>
      <li *ngFor="let group of groups" class="text-lg text-gray-700 mb-2 hover:text-blue-500">
        <a [routerLink]="['/group', group.groupId]">{{ group.groupName }}</a>
      </li>
    </ul>
  </div>

  <button class="px-4 py-2 my-4 text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
    (click)="toggleCreateGroup()">Create Group</button>

  <div class="fixed inset-0 z-10 bg-gray-800 bg-opacity-50 flex items-center justify-center"
    [ngClass]="{ 'hidden': !showCreateGroup }">
    <div class="bg-white p-6 rounded-lg shadow-md text-center relative">
      <button class="absolute top-2 right-2 text-red-600 hover:text-red-700"
        (click)="toggleCreateGroup()">X</button>
      <app-create-group></app-create-group>
    </div>
  </div>
</div>
