<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white p-6 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl font-semibold mb-4 text-center">Register</h2>
        <form (ngSubmit)="onSubmit()" class="mb-4">
            <div class="mb-4">
                <label for="username" class="block text-gray-600">Username:</label>
                <input type="text" id="username" name="username" [(ngModel)]="formData.username" required
                    class="w-full py-2 px-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:border-blue-400">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-600">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="formData.email" required
                    class="w-full py-2 px-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:border-blue-400">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-600">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="formData.password" required
                    class="w-full py-2 px-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:border-blue-400">
            </div>
            <div class="text-red-600" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
            <div class="flex justify-center">
                <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none">Register</button>
            </div>
        </form>
        <p>Already have an account?
            <button routerLink="/login" class="text-blue-500 hover:underline focus:outline-none">Login</button>
        </p>
    </div>
</div>