<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white p-6 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl font-semibold mb-4 text-center">Register</h2>
        <form (ngSubmit)="onSubmit()" class="mb-4" #registerForm="ngForm">
            <div class="form-group mb-4">
                <label for="username" class="block text-gray-600">Username:</label>
                <input #username="ngModel" name="username" [(ngModel)]="formData.username" type="text"
                    class="form-control w-full py-2 px-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:border-blue-400"
                    required>
                <div class="text-red-600" *ngIf="username.touched && username.invalid">
                    <div *ngIf="username.errors?.['required']">Username is required.</div>
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="email" class="block text-gray-600">Email:</label>
                <input #email="ngModel" name="email" [(ngModel)]="formData.email" type="email"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                    class="form-control w-full py-2 px-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:border-blue-400"
                    required>
                <div class="text-red-600" *ngIf="email.touched && email.invalid">
                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                    <div *ngIf="email.errors?.['pattern']">Please enter a valid email address.</div>
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="password" class="block text-gray-600">Password:</label>
                <input #password="ngModel" name="password" [(ngModel)]="formData.password" type="password"
                    class="form-control w-full py-2 px-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:border-blue-400"
                    required>
                <div class="text-red-600" *ngIf="password.touched && password.invalid">
                    <div *ngIf="password.errors?.['required']">Password is required.</div>
                </div>
            </div>

            <div class="text-red-600" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>

            <div class="flex justify-center">
                <button type="submit" [disabled]="!registerForm.valid"
                    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none">Register</button>
            </div>
        </form>
        <p>Already have an account?
            <button routerLink="/login" class="text-blue-500 hover:underline focus:outline-none">Login</button>
        </p>
    </div>
</div>