<div class="p-2 rounded-lg text-center flex-1">
<h2 class="text-2xl font-bold mb-4 flex justify-center">Add Expense</h2>
<form [formGroup]="expenseForm" (ngSubmit)="onAddOrUpdateExpense()" class="max-w-md mx-auto mb-4">
  <div class="mb-4">
    <label for="expenseName" class="block text-gray-700">Expense Name:</label>
    <input type="text" id="expenseName" class="form-input mt-1 block w-full" placeholder="Expense Name"
      formControlName="expenseName" required>
  </div>

  <div class="mb-4">
    <label for="payer" class="block text-gray-700">Payer:</label>
    <select id="payer" class="form-select mt-1 block w-full" formControlName="payer" required>
      <option value="" disabled selected>Select Payer</option>
      <option *ngFor="let member of members" [value]=member.id>{{ member.email }}</option>
    </select>
  </div>

  <div class="mb-4">
    <label for="expenseDate" class="block text-gray-700">Expense Date:</label>
    <input type="date" id="expenseDate" class="form-input mt-1 block w-full" formControlName="expenseDate" [value]="expenseForm.value.expenseDate">
  </div>

  <div class="mb-4">
    <label for="description" class="block text-gray-700">Description:</label>
    <input type="text" id="description" class="form-input mt-1 block w-full" placeholder="Description"
      formControlName="description">
  </div>

  <div class="mb-4">
    <label for="amount" class="block text-gray-700">Amount:</label>
    <input type="number" id="amount" class="form-input mt-1 block w-full" placeholder="Amount" formControlName="amount"
      required min="0">
  </div>

  <div *ngIf="expenseForm.get('expenseName')?.touched && expenseForm.get('expenseName')?.hasError('required')"
    class="text-red-600">
    Expense Name is required.
  </div>
  <div *ngIf="expenseForm.get('payer')?.touched && expenseForm.get('payer')?.hasError('required')" class="text-red-600">
    Payer is required.
  </div>
  <div *ngIf="expenseForm.get('amount')?.touched && expenseForm.get('amount')?.hasError('required')"
    class="text-red-600">
    Amount is required.
  </div>
  <div *ngIf="expenseForm.get('amount')?.touched && expenseForm.get('amount')?.hasError('min')" class="text-red-600">
    Amount must be greater than or equal to 0.
  </div>

  <div class="flex justify-center">
    <button
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:bg-blue-600"
      type="submit" [disabled]="expenseForm.invalid"
      [ngClass]="{'pointer-events-none bg-gray-400': expenseForm.invalid}">Add Expense</button>
  </div>
</form>

</div>