<div class="p-2 rounded-lg text-center flex-1" *ngIf="!loading">
  <h2 class="text-2xl font-bold mb-4 flex justify-center" *ngIf="mode === 'add'">Add Expense</h2>
  <h2 class="text-2xl font-bold mb-4 flex justify-center" *ngIf="mode === 'edit'">Edit Expense</h2>

  <form [formGroup]="expenseForm" (ngSubmit)="onAddOrUpdateExpense()" class="max-w-md mx-auto mb-4">
    <div class="mb-4">
      <label for="expenseName" class="block text-gray-700">Expense Name:</label>
      <input type="text" id="expenseName" class="form-input mt-1 block w-full" placeholder="Expense Name"
        formControlName="expenseName" required>
    </div>
    <div *ngIf="expenseForm.get('expenseName')?.touched && expenseForm.get('expenseName')?.hasError('required')"
      class="text-red-600">
      Expense Name is required.
    </div>

    <div class="mb-4">
      <label for="payer" class="block text-gray-700">Payer:</label>
      <select id="payer" class="form-select mt-1 block w-full" formControlName="payer" required>
        <option value="" disabled selected>Select Payer</option>
        <option *ngFor="let member of members" [value]=member.id>{{ member.email }}</option>
      </select>
    </div>
    <div *ngIf="expenseForm.get('payer')?.touched && expenseForm.get('payer')?.hasError('required')"
      class="text-red-600">
      Payer is required.
    </div>

    <div class="mb-4">
      <label for="amount" class="block text-gray-700">Amount:</label>
      <input type="number" id="amount" class="form-input mt-1 block w-full" placeholder="Amount"
        formControlName="amount" required min="0" appDecimalInput>
    </div>

    <div *ngIf="expenseForm.get('amount')?.touched && expenseForm.get('amount')?.hasError('required')"
      class="text-red-600">
      Amount is required.
    </div>
    <div *ngIf="expenseForm.get('amount')?.touched && expenseForm.get('amount')?.hasError('min')" class="text-red-600">
      Amount must be greater than or equal to 0.
    </div>
    <div *ngIf="expenseForm.get('amount')?.touched && expenseForm.get('amount')?.hasError('invalidDecimal')"
      class="text-red-600">
      Please enter a valid amount with up to two decimal places.
    </div>

    <div class="mb-4">
      <div class="mt-4">
        <p class="mb-2 text-gray-700">Please select a split type:</p>
        <div class="flex space-x-2 justify-center">
          <button type="button" (click)="toggleSplitType('equal')"
            class="px-4 py-2 font-semibold border-none focus:outline-none focus:text-blue-500"
            [class.text-gray-700]="selectedSplitType !== 'equal'" [class.text-blue-500]="selectedSplitType === 'equal'">
            Equal Split
          </button>
          <button type="button" (click)="toggleSplitType('unequal')"
            class="px-4 py-2 font-semibold border-none focus:outline-none focus:text-blue-500"
            [class.text-gray-700]="selectedSplitType !== 'unequal'"
            [class.text-blue-500]="selectedSplitType === 'unequal'">
            Unequal Split
          </button>
          <button type="button" (click)="toggleSplitType('shares')"
            class="px-4 py-2 font-semibold border-none focus:outline-none focus:text-blue-500"
            [class.text-gray-700]="selectedSplitType !== 'shares'"
            [class.text-blue-500]="selectedSplitType === 'shares'">
            By Shares
          </button>
          <button type="button" (click)="toggleSplitType('percentages')"
            class="px-4 py-2 font-semibold border-none focus:outline-none focus:text-blue-500"
            [class.text-gray-700]="selectedSplitType !== 'percentages'"
            [class.text-blue-500]="selectedSplitType === 'percentages'">
            By Percentages
          </button>
        </div>
      </div>


      <label for="participants" class="block text-gray-700">Participants:</label>
      <div class="flex items-center justify-center flex-wrap">
        <ng-container *ngFor="let member of members">
          <button type="button"
            class="font-bold m-2 p-1 rounded transition-colors duration-300 ease-in-out focus:outline-none focus:ring focus:border-blue-300"
            [ngClass]="{'bg-gray-500 text-white': isParticipantSelected(member.id)}"
            (click)="toggleParticipant(member.id)">
            {{ member.email }}
          </button>

          <ng-container *ngIf="isParticipantSelected(member.id)">
            <ng-container *ngIf="selectedSplitType === 'unequal'">
              <input type="number" class="form-input mt-1 block w-20" placeholder="Amount"
                [value]="participantAmounts[member.id] || 0" (input)="updateParticipantAmount(member.id, $event)"
                required min="1" (change)="updateParticipantAmountDecimal(member.id, $event)">
            </ng-container>
            <ng-container *ngIf="selectedSplitType === 'shares'">
              <input type="number" class="form-input mt-1 block w-20" placeholder="Share"
                [value]="participantShares[member.id] || 0" (input)="updateParticipantShares(member.id, $event)"
                required min="1" step="1">
            </ng-container>
            <ng-container *ngIf="selectedSplitType === 'percentages'">
              <input type="number" class="form-input mt-1 block w-20" placeholder="Percentage"
                [value]="participantPercentages[member.id] || 0" (input)="updateParticipantAmount(member.id, $event)"
                required min="1" (change)="updateParticipantAmountDecimal(member.id, $event)">
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div *ngIf="!canAddExpense()" class="text-red-600">
      Select at least 1 participant other than payer.
    </div>
    <div
      *ngIf="((mode === 'add' && expenseForm.get('amount')?.touched) || mode==='edit') && selectedSplitType === 'unequal' && !isTotalAmountValid()"
      class="text-red-600">
      Individual participant amount must be greater than 0 and sum of participant amount must be equal to the expense
      amount.
    </div>
    <div
      *ngIf="((mode === 'add' && expenseForm.get('amount')?.touched) || mode==='edit') && selectedSplitType === 'shares' && !isTotalAmountValid()"
      class="text-red-600">
      Individual share must be Integer and greater than 0.
    </div>
    <div
      *ngIf="((mode === 'add' && expenseForm.get('amount')?.touched) || mode==='edit') && selectedSplitType === 'percentages' && !isTotalAmountValid()"
      class="text-red-600">
      Individual participant percentage must be greater than 0 and sum of participant percentages must be equal to 100.
    </div>

    <button (click)="toggleCalculator()" class="text-gray-700">Calculator</button>

    <div class="mb-4" [@openClose]="openClose">
      <app-calculator></app-calculator>
    </div>

    <div class="mb-4 mt-4">
      <label for="category" class="block text-gray-700">Select a category:</label>
      <select id="category" class="form-input mt-1 block w-full" formControlName="category">
        <ng-container *ngFor="let category of categories">
          <optgroup [label]="category.title">
            <option *ngFor="let subcategory of category.categories" [value]="subcategory">
              {{ subcategory }}
            </option>
          </optgroup>
        </ng-container>
      </select>
    </div>


    <div class="mb-4">
      <label for="expenseDate" class="block text-gray-700">Expense Date:</label>
      <input type="date" id="expenseDate" class="form-input mt-1 block w-full" formControlName="expenseDate"
        [value]="expenseForm.value.expenseDate">
    </div>

    <div class="mb-4">
      <label for="description" class="block text-gray-700">Description:</label>
      <input type="text" id="description" class="form-input mt-1 block w-full" placeholder="Description"
        formControlName="description">
    </div>

    <div class="flex justify-center">
      <button
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:bg-blue-600"
        type="submit"
        [disabled]="expenseForm.invalid || !canAddExpense() || (selectedSplitType !== 'equal' && !isTotalAmountValid())"
        [ngClass]="{'pointer-events-none bg-gray-400': expenseForm.invalid || !canAddExpense() || (selectedSplitType !== 'equal' && !isTotalAmountValid())}">
        {{ mode === 'add' ? 'Add Expense' : 'Edit Expense' }}
      </button>
    </div>
  </form>

</div>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>