<div class="calculator">
    <div class="display">{{ display }}</div>
    <div *ngIf="operator && operator!=='='">{{operator}}</div>
    <div *ngIf="operator=='=' && lastOperation">{{lastOperation}}</div>
    <div *ngIf="!operator">enter value</div>
  
    <div class="buttons">
        <button (click)="onClearClick()">C</button>
        <button (click)="onClearEntryClick()">CE</button>
        <button (click)="onOperatorClick('%')">%</button>
        <button (click)="onOperatorClick('/')">/</button>
        <button (click)="onDigitClick('7')">7</button>
        <button (click)="onDigitClick('8')">8</button>
        <button (click)="onDigitClick('9')">9</button>
        <button (click)="onOperatorClick('*')">*</button>
        <button (click)="onDigitClick('4')">4</button>
        <button (click)="onDigitClick('5')">5</button>
        <button (click)="onDigitClick('6')">6</button>
        <button (click)="onOperatorClick('-')">-</button>
        <button (click)="onDigitClick('1')">1</button>
        <button (click)="onDigitClick('2')">2</button>
        <button (click)="onDigitClick('3')">3</button>
        <button (click)="onOperatorClick('+')">+</button>
        <button (click)="onDigitClick('00')">00</button>
        <button (click)="onDigitClick('0')">0</button>
        <button (click)="onDigitClick('.')">.</button>
        <button (click)="onEqualClick()">=</button>
    </div>
</div>